body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ccf0d2;
}

.banner {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 300px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGdhejQ5cjR5b2w4endnczlkNHlnbzEwaW45cDBsNjU4eTE3c2IxbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/S3KhNnHajzZ4voJKYP/giphy.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  text-align: center;
}

section {
  background: rgb(187, 168, 179);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.actions {
  margin-top: 10px;
}

#searchInput {
  padding: 12px;
  font-size: 16px;
  border: 0px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

form + h2,
#searchInput + h2 {
  margin-top: 40px;
}
